<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="myPage">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="../index.html" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="lab.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Lab</a>
  <a href="member.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Blog</a>
 </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity" style="margin-top: 150px;">
  <img class="mySlides w3-animate-fading" src="../images/img1-1600.jpeg" style="width:100%;min-height:350px;max-height:600px;">
  <img class="mySlides w3-animate-fading" src="../images/img10-1600.jpeg" style="width:100%;min-height:350px;max-height:600px;">
  <img class="mySlides w3-animate-fading" src="../images/img11-1600.jpeg" style="width:100%;min-height:350px;max-height:600px;">
  <img class="mySlides w3-animate-fading" src="../images/img12-1600.jpeg" style="width:100%;min-height:350px;max-height:600px;">
  <img class="mySlides w3-animate-fading" src="../images/img13-1600.jpeg" style="width:100%;min-height:350px;max-height:600px;">
  <img class="mySlides w3-animate-fading" src="../images/img2-1600.jpg" style="width:100%;min-height:350px;max-height:600px;">
  <img class="mySlides w3-animate-fading" src="../images/img3-1600.jpg" style="width:100%;min-height:350px;max-height:600px;">
  <img class="mySlides w3-animate-fading" src="../images/img4-1600.png" style="width:100%;min-height:350px;max-height:600px;">
  <img class="mySlides w3-animate-fading" src="../images/img5-1600.jpeg" style="width:100%;min-height:350px;max-height:600px;">
  <img class="mySlides w3-animate-fading" src="../images/img6-1600.jpeg" style="width:100%;min-height:350px;max-height:600px;">
  <h1 style="text-align: center; font-size: 10rem;">Lab Name</h1>
</div>

<!-- Study Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-quarter" style="float: left; width: 90%; padding: 20px;">
<h2>Our Study</h2>
<p>study detile</p>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white" style="margin-top: 10px;">
    <a href="Study/study1.html">
    <img src="../images/img12-1600.jpeg" style="width:100%">
    </a>
    <div class="w3-container">
    <h3>Study1</h3>
    <h4>subtitle</h4>
    <p>Blablabla</p>
    </div>
    </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white" style="margin-top: 10px;">
    <a href="Study/study1.html">
    <img src="../images/img11-1600.jpeg" style="width:100%">
    </a>
    <div class="w3-container">
    <h3>Study2</h3>
    <h4>subtitle</h4>
    <p>Blablabla</p>
    </div>
    </div>
</div>


</div>

<!-- News Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l2" id="work">

<div class="w3-quarter">
<h2>Our News</h2>
<p>News detile</p>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white" style="margin-top: 10px;">
    <a href="article/article1.html">
  <img src="../images/img10-1600.jpeg" style="width:100%">
  </a>
  <div class="w3-container">
  <h3>News1</h3>
  <h4>subtitle</h4>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  <p>Blablabla</p>
  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white" style="margin-top: 10px;">
    <a href="article/article1.html">
    <img src="../images/img1-1600.jpeg" style="width:100%">
    </a>
    <div class="w3-container">
    <h3>News1</h3>
    <h4>subtitle</h4>
    <p>Blablabla</p>
    <p>Blablabla</p>
    <p>Blablabla</p>
    <p>Blablabla</p>
    </div>
    </div>
</div>


</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>Address</h3>
      <p>adress</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Chicago, US</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +00 1515151515</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  test@test.com</p>
    </div>
  </div>
</div>

<script src="js/script.js"></script>

</body>
</html>
